<section
  class="relative flex flex-col justify-end min-h-[85vh] px-6 md:px-10 pb-12 border-b border-border-dark"
>
  <div id="particles-js" class="absolute inset-0 z-0"></div>

  <div
    class="absolute inset-0 z-1 opacity-20 mix-blend-overlay bg-[url('https://lh3.googleusercontent.com/aida-public/AB6AXuBiYgpqFk208ViZ1Y-WXPUAHy39jUke4g88XroEiEE0_mUpt-kx3l8pNOv8Z9yWaNGxRT3yujdeF3-oi-gLg_mq3HRow-MorYjMKL2yi75EDy0lq9ql1MeP20Hy6Le7m9_08WRkhLz56FrJoHE2pGjKVtBw5NETBtfO-SYCBwOtZd-D-ja04YkJ3SNgNfX6Q0aJ4unWF_bAiLm91i9imPCH1waP0zUX7qt0lQVCkV0ttLZgkhf5PA_KxPbQEJWwXskPzHvyqDGwfjBO')] bg-cover bg-center pointer-events-none"
  >
  </div>

  <div class="relative z-10 max-w-[1400px] w-full mx-auto pointer-events-none">
    <div class="flex flex-col gap-6">
      <h2
        class="text-primary text-base font-bold tracking-[0.2em] uppercase border-l-2 border-primary pl-4 mb-4"
      >
        Open To Work - Intern
      </h2>

      <h1
        class="text-white text-6xl md:text-8xl lg:text-9xl font-black leading-[0.85] tracking-tighter uppercase wrap-break-word max-w-5xl mix-blend-difference"
      >
        Edy Mikhael<br />
        <span class="text-stroke-white">Novrianta Surbakti</span>
      </h1>

      <div
        class="flex flex-col md:flex-row gap-8 items-start md:items-end justify-between mt-8"
      >
        <p
          class="text-gray-400 text-lg md:text-xl font-normal max-w-lg leading-relaxed border-l border-border-dark pl-6"
        >
          Building digital experiences with precision, passion, and a touch of
          creativity. Bridging the gap between engineering and design.
        </p>

        <div class="flex gap-2 items-center">
          <span class="material-symbols-outlined text-primary animate-pulse"
            >arrow_downward_alt</span
          >
          <span class="text-sm font-bold uppercase tracking-widest text-primary"
            >Scroll Down</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
